.header
{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53b2d);
}
.header__navbar-list
{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar-item,.header_navbar-item-link
{
    display: inline-block;
    font-size: 1.4rem;
    color:white;
    text-decoration: none;
    font-weight: 400;
}
.header__navbar
{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item
{
    padding: 0 8px;
    position: relative;
}
.header__navbar-item .avatar-img
{
    border-radius: 100%;
    width:23px;
    height: 21px;
    padding: 0;
    margin-bottom: -7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.avatar
{
    position: relative;
}

.avatar:hover  .account
{
    display: block;
    animation: Grow ease-in 0.2s;
}
.account
{
    background-color: white;
    position: absolute;
    width: 148px;
    top: 30px;
    right: 0;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
    border-radius: 2px;
    transform-origin:75%  top ;
}
.account::before
{
    content: "";
    display: block;
    position: absolute;
    /* //opacity: 0; */
    right: 26px;
    top: -35px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}
.account_manager
{
    text-align: center;
    display: block;
    text-decoration: none;
    padding:15px;
    color: black;
}
.account_manager:hover
{
    color:rgb(7, 174, 186);
    background-color: #fafafa;
}
.header__navbar-item--separate
{
    border-left: 2px solid #fb9086;
}
.sub_hidden:hover
{
    color:#d3d3d3;
    cursor: pointer;
}
.ti-facebook,.ti-instagram
{
    color: #fe6433;
    font-size: 12px;
    border-radius: 50px;
    padding: 3px;
    background-color: white;
}
.icon + .icon
{
    margin-left: 5px;
}
.header__navbar-item--connect:hover
{
    cursor: text;
}
.icon:hover 
{
    cursor: pointer;
}
.header__QR
{
    background-color: white;
    width: 186px;
    position: absolute;
    top: calc(130%);
    padding:5px;
    border-radius: 5px;
    display: none;
    animation: QR ease 0.3s;
    z-index: 999;


}

.openQR:hover .header__QR
{
    display: block;
    
}
.header__QR-app
{
    display: flex;
    justify-content: space-around;

}
.header__QR-img
{
    width: 100% ;
}
.header__QR-download-img
{
    height: 17px;
}
.header__QR::before
{
    content: "";
    display: block;
    height: 30%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: -5px;

}
.header__notify
{
    position: absolute;
    width: 400px;
    top:125%;
    background-color: white;
    right: 8px;
    border: 1px solid #d3d3d3;
    transform-origin: 90% top ;
    will-change: opacity, transform;
     display: none;
     animation: Shrink linear 1s forwards;
     z-index: 999;
}
.header__notify--header
{
    height: 40px;
    cursor: text;
}
.header__notify--header h3
{
    color: #ccc;
    font-weight: 400;
    margin: 0;
    margin-left: 12px;
    font-size: 1.5rem;
    line-height: 40px;
    /* text-align: center; */
}
.header__notify_list
{
    padding-left: 0;

}
.header__notify-item
{
    background-color: white;
 

}
.header__notify_list .header__notify-item:hover
{
    background-color:aliceblue;
}
.header__notify-item a
{
    display: flex;
    
    text-decoration: none;
}
.header__notify-link img
{
    height: 70px;
    width: 70px;
    padding: 12px;
}
.header__notify-item a .header__notify-name
{
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    margin:12px 0;
}
.header__notify-item a .header__notify-description
{
    font-size: 12px;
    color:#756f6e;
}
.header__notify_viewed
{
    background-color: white;
}
.header__notify-footer
{
    text-align: center;
    height: 40px;
    line-height: 40px;
 
}
.header__notify-footer a
{
    text-decoration: none;
    color:dimgray;
    
}
.open__notify:hover .header__notify
{
    animation: Grow ease-out 0.3s forwards;
    display: block;
}
.header__notify::before
{
    content: "";
    display: block;
    position: absolute;
    /* //opacity: 0; */
    right: 26px;
    top: -30px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}
.header__search
{
    height: 84px;
    display: flex;
    align-items: center;
    position: relative;
}
.header__logo
{
    width: 200px;
}
.header__logo-img
{
    height: 50px;
    fill: white;
}
.header_search_text
{
    height: 100%;
    border: none;
    border-radius: 2px; 
    width: 100%;
    font-size: 1.6rem;
    outline: none;
    padding: 0 15px;
}
.header__search_input
{
    flex: 1;
    height: 41px;
    display: flex;
    align-items: center;
}
.header__cart
{
    font-size: 2.5rem;
    color: white;
    margin:  0 70px;
    position: relative;
    cursor: pointer;
}
.header__search_option
{
    display: flex;
    margin-left: -200px;
    font-size: 1.6rem;
    padding: 5px  10px;
    border-left: 1px solid #ddd;
    position: relative;
}
.ti-angle-down
{
    padding: 0 7px;
}
.header_btn_search
{
    background-color: orangered;
    height: 37px;
    width: 64px;
    border-radius: 3px;
}
.header_btn_search
{
    background-color: orangered;  
    width: 65px;
    border-radius: 3px;
    margin-right: -10px ;
    height: 37px;
    border: none;
    cursor: pointer;
}
.ti-search
{
    text-align: center;
    line-height: 37px;
    font-size: 1.6rem;
    color:white;
}
.header_btn_search:hover
{
    opacity: 0.7;
}
.header__search_items
{
    position: absolute;
    top:100%;
    padding-left: 0;
    right: 0px;
    text-align: right;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    /* left:0; */
    display: none;
    z-index: 999;
}
.header__search_item
{
    background-color: white;
    list-style: none;
    width: 150px;
    padding:15px 15px ;
    border-radius: 2px;
}
.header__search_item .ti-check
{
    margin : 0 0px 0 8px;
    font-size: 1.4rem;
    font-weight: 800;


}
.header__search_item_active .ti-check
{
    color: #fe6433;
}
.header__search_item_inactive .ti-check
{
    color:transparent;
}
.header__search_item:hover
{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search_option:hover .header__search_items
{
    display: block;
}
.header__search_items::before
{
    content: "";
    display: block;
    width: 150px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    top: -20px;
}
.header_search_history
{
    position: absolute;
    top:79%;
    width: 50%;
    font-size: 1.4rem;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(2, 2, 0, 0.4);
    display: none;
}
.header_search_text:focus ~ .header_search_history
{
    display: block;
}
.history_heading
{
    color: #999;
    margin: 10px;
    font-weight: 400;
}
.history_list
{
    padding-left: 0;
    margin-bottom: 0;

}
.history_item
{
    list-style: none;
    
}
.history_item a
{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    display: block;
    padding:10px;
}
.history_item a:hover
{
    background-color: #eee;
}
.cart_list
{
    position: absolute;
    width: 394px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    top:170%;
    right: -10px;
    background-color: white;
    display: none;
    transform-origin: 90% top ;
    cursor:default;
    z-index: 999;
}

.header__cart_img
{
    /* margin-left: 20%; */
    display: none;
    padding: 40px 0px;
    width: 60%;      
}
.header_cart_annouce
{
    display: none;
    font-size: 1.4rem;
    color:rgba(2, 2, 0, 0.7);
    padding-bottom: 40px;
}
.list_no-card .header__cart_img,.list_no-card .header_cart_annouce
{
    display: block;
    margin:0 auto;
}
.cart_list::before
{
    content: "";
    display: block;
    position: absolute;
    /* //opacity: 0; */
    right: 4px;
    top: -30px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}
.header__cart:hover  .cart_list
{
    display: block;
    animation: Grow ease-in 0.2s;
}
.header__cart_amount
{
    position: absolute;
    padding:0.5px 8px;
    background-color: white;
    color: #f53b2d;
    font-size: 1.4rem;
    border-radius: 35%;
    top:-20px;
    right: -16px;
    border: 2px solid #ee4d2d;
}
.header__cart_heading
{
    text-align: left;
    color:grey ;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 15px;
    margin: 0;
    list-style: none;
    line-height: 26px;
}
.header__cart_list
{
    margin-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
}
.header__cart_item
{
    display: flex;
    color:black;
    font-size: 1.4rem;
    flex:1;

}
.header__cart_item img
{
    height: 45px;
    width: 45px;
    /* padding: 30px; */
    margin: 15px;

}
.header__cart_item-info
{
    width: 100%;
}
.header__cart_item-heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;

}
.header__cart_item-name
{
    font-weight: 400;
    font-size: 1.6rem;
}
.header__cart_item-body
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-right: 15px;
    padding-bottom: 5px;
}
.header__cart_item-price
{
    color:#f53b2d;
}
.header__cart_item-multi
{
    font-size: 1.0rem;
}
.header__cart_item-description
{
    color:grey;
}
.btn_add_cart
{
    text-decoration: none;
    float: right;
    margin: 0px 10px 15px 0px;
}
.btn_add_cart:hover
{
    opacity: 0.8;
}
.cart_list.list_no-card .header__cart_heading,
.cart_list.list_no-card .header__cart_list,
.cart_list.list_no-card .btn_add_cart,
.cart_list.list_no-card ~ .header__cart_amount
{
    display: none;
}
.header__cart_item:hover
{
    background-color: #f5f5f5;
}
.header__cart_item-remove:hover
{
    color:#f53b2d;
    cursor: pointer;
}
.container
{
    background-color: #f5f5f5;
}
.category
{
    background-color: white;
    border-radius: 2px;
}
.category_heading
{
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: 2px solid #f5f5f5;
    border-radius: 2px;
    margin-top: 0;
}
.category_heading i
{
    font-size: 1.3rem;
    margin-right: 5px;
}
.category_list
{
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 10px;
}
.category_list .category_link
{
    text-decoration: none;
    margin-left: 0;
    font-size: 1.6rem;
    color:black;
    position: relative;
    right: 0;
    transition: right linear 0.2s;
   
}
.category_item
{
    padding: 8px 10px;
}
.category_list .category_link:hover
{
    color:#f53b2d;
    right: -6px;
}
.category_item--active .category_link
{
    color: #f53b2d;
    right: -6px;
}
.category_item--active .category_link::before
{
    content: "";
    position: absolute;
    top:30%;
    left: -10%;
    display: block;
    border: 4px solid;
    border-color: transparent transparent transparent #f53b2d;
}
.home_filter .home_filter_btn
{
    width: 100px;
    margin-right: 12px;
    
}
.home_filter
{
    background-color:rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 15px 22px;
    font-size: 1.4rem;
    border-radius: 2px;
    position: relative;
}

.hom_filter_label
{
    color: #555;
    font-weight: 500;
    margin-right: 16px;
}
.home_filter_option
{
    height: 36px;
    font-size: 1.4rem;
    border-radius: 2px;
    line-height: 36px;
    cursor: pointer;
    background-color: white;
    width: 200px;
}
.home_filter_option_label
{
    margin-left: 10px;
}
.home_filter_option i
{
    float: right;
    line-height: 36px;
}
.home_filter_list_price
{
    background-color: white;
    display: none;
    margin-top: 4px;
    border-radius: 2px;
    z-index: 999;
}
.home_filter_list_price::before
{
    content: "";
    display: block;
    position: absolute;
    /* //opacity: 0; */
    right: 34.2%;
    top: 70%;
    width: 200px;
    background-color: transparent;
    height: 20px;
}
.home_filter_list_price_item
{
    padding:5px;
}
.home_filter_list_price_item span
{
    padding-left: 10px;
}
.home_filter_option:hover .home_filter_list_price
{
    display: block;
}
.home_filter_list_price_item:hover 
{
    color:#f53b2d;
}
.home_filter_page
{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    
}
.home_filter_page_num_current
{
    color:#f53b2d;
}
.home_filter_page_num
{
    margin-right: 22px;
}
.home_filter_page-btn .home_filter_page-btn_arrow
{
    padding: 10px;
    border-radius: 3px;
    border: 0.00001px solid #ccc;
    font-weight: 700;
}
.home_filter_page-btn_disable
{
    color: #ddd;
    background-color: #f9f9f9 !important;
    cursor: default;
}
.home_filter_page-btn_arrow:hover
{
    background-color: white;
}

























.form
{
    padding: 0 32px 30px;
}
.form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px;
}
.form__heading
{
    font-size: 2rem;
    font-weight: 400;
}
.form__switch_btn
{
    font-size: 1.5rem;
    color: #f53b2d;
    font-weight: 600;
    cursor: pointer;
}

.form__input
{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;

}
.form__policy
{
    margin-top: 30px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 80px;
}
.policy__link,.Security_link
{
    color:#f53b2d;
    text-decoration: none;
}
.back_btn
{
    background-color: white;
    margin-right: 8px;
}
.back_btn:hover
{
    background-color: #eee;
}
.form_social
{
    background-color: #f5f5f5;
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
}
.btn_with_icon
{
    text-decoration: none;
    padding-right: 40px;
}
.icon_form
{
    margin:0 32px 0 10px ;
}
.form_social .ti-facebook
{
    color:#3a5a98;
    background-color: white;
    padding: 4px 4px;
    border-radius: 0;
    font-size: 1.6rem;
}
.facebook_icon_form
{
    background-color: #3a5a98;
    color:white;
}
.google_icon_form
{
    background-color: white;
    color:black;
}
.btn_with_icon:hover
{
    opacity: 0.7;
}
.form__help
{
    margin-top: 30px;
    text-align: right;
    font-size: 1.3rem;
    margin-bottom: 80px;
}
.forget_password
{
    color:#f53b2d;
    text-decoration: none;
    padding: 0 15px;
    border-right: 1px solid #ddd;
    font-weight: 500;
}
.help
{
    text-decoration: none;
    color:gray;
    padding-left: 15px;
}
.modal__body
{
    animation:Grow linear 0.3s ;
}




